.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.topSection {
  text-align: center;
  padding: 40px 20px;
  margin-top: 15px;
}

.alias {
  color: #ff7a18;
  font-size: 16px;
  margin-bottom: 25px;
}

.mercadoPagoBox {
  display: flex;
  align-items: center;
  justify-content: center;
  ;
}

.mercadoPagoImg {
  width: 180px;
}


.botonesMontos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 45px;
}

.btnMonto {
  background-color: #ff7a18;
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.btnMonto:hover {
  background-color: #ff9f56;
}

.formDonar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 45px;
}

.inputMonto {
  width: 90px;
  padding: 8px;
  border: 2px solid #ff7a18;
  border-radius: 6px;
}

.btnDonar {
  background-color: #ff7a18;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.cardsSection {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  text-align: center;
  background: linear-gradient(90deg, #ff7a18, #ffb88c);
  color: white;
  width: 100%;
  position: relative;
  bottom: -90px;

}

.tituloSection {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 35px;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  padding: 0 20px;
}

.cardBox {
  border-radius: 14px !important;
  background-color: #ffffffdd !important;
  border: none !important;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.18);
  padding: 10px;
}

.icon {
  font-size: 30px;
  margin-bottom: 10px;
  color: #ff7a18;
}

.text {
  font-size: 16px;
  color: #ff7a18;
  font-weight: 500;
}

.modalOverlay {
  position: fixed;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--naranja);
  z-index: 1;
  border-radius: 15px;
}

.modalContent {
  background: #fff;
  border-radius: 14px;
  max-width: 420px;
  width: 90%;
  padding: 20px;
  animation: fadeIn 0.25s ease-out;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalTitle {
  font-size: 22px;
  font-weight: 700;
  color: #ff8c42;
}


.closeBtn {
  background: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
}


.modalBody {
  margin-top: 10px;
  font-size: 17px;
  text-align: center;
  color: #444;
}


.modalFooter {
  margin-top: 18px;
  display: flex;
  justify-content: center;
}

.modalBtn {
  background: #ff8c42;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.modalBtn:hover {
  background: #e8762f;
}


.container {
  width: 900px;
  margin: 30px auto;
  padding: 25px;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  font-size: 28px;
  color: #005bb5;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.tabs button {
  flex: 1;
  padding: 12px;
  border: none;
  background: #eaeaea;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.2s;
}

.tabs button:hover {
  background: #d4d4d4;
}

.active {
  background: #005bb5 !important;
  color: white !important;
}

/* ====== SECCIONES ====== */
.section {
  margin-top: 10px;
}

/* ====== ELEMENTOS ====== */
.input {
  width: 100%;
  padding: 13px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  background-color: #004a90;
  border: 2px solid var(--naranja);
  color: white;
}


select option {
  background-color: white; 
  color: black; 
}

input::placeholder {
  color: rgb(233, 229, 229)
}

.input:focus {
  outline: none;
  border-color: #005bb5;
}


.select {
  width: 100%;
  padding: 13px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

.btn {
  width: 100%;
  padding: 14px;
  background: var(--naranja);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
}

.btn:hover {
  background: #004a90;
}

.response {
  margin-top: 20px;
  background: #f6f6f6;
  padding: 15px;
  border-left: 4px solid #005bb5;
  border-radius: 8px;
  white-space: pre-wrap;
  overflow-x: auto;
  font-family: monospace;
  font-size: 14px;
}

.card {
  background: #fafafa;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #dedede;
  margin-bottom: 12px;
}

.card h3 {
  margin: 0 0 8px 0;
  color: #005bb5;
}