.contenedor {
    max-width: 600px;
    margin: 80px auto; 
    text-align: center;
}

.titulo {
    font-size: 2.4rem;
    font-weight: bold;
    color: #2a2a2a;
}

.subtitulo {
    font-size: 1.4rem;
    color: #444;
    margin-bottom: 35px;
}

.form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.input {
    padding: 12px 16px;
    width: 250px;
    border: 2px solid #FF7A42;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: 0.2s ease-in-out;
}

.input:focus {
    border-color: #ff5a1f;
    box-shadow: 0px 0px 5px rgba(255, 133, 74, 0.5);
}

.boton {
    background: linear-gradient(90deg, #FF7A42, #FF4F5A);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

.boton:hover {
    opacity: 0.8;
}

