
main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.loginCard {
    width: 420px;
    background: white;
    padding: 40px 45px;
    border-radius: 18px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
}


.title {
    font-size: 42px;
    font-weight: 600;
    color: #333;
    margin-bottom: 25px;
    text-align: center;
}


.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}


.inputField {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    background-color: #fafafa;
    font-size: 16px;
    transition: 0.2s;
    color: black;
}

.inputField:focus {
    outline: none;
    border-color: #ff7f50;
    box-shadow: 0 0 0 2px rgba(255, 127, 80, 0.25);
}


.buttonLogin {
    background: linear-gradient(90deg, #ff914d, #ff5e78);
    color: white;
    font-size: 18px;
    padding: 14px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.buttonLogin:hover {
    opacity: 0.9;
}

.errorText {
    color: red;
    font-size: 14px;
    margin-top: 6px;
}
