.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;   
}
.contenedor_img {
    display: flex;
    position: relative;
    width: 500px;
    height: 400px;

    img {
        object-fit: cover;
    }
}

:global(.carousel-control-prev-icon) {
    background-image: none;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L6.707 7l4.647 4.646a.5.5 0 0 1-.708.708l-5-5a.5.5 0 0 1 0-.708l5-5a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E") center/contain no-repeat;
    background: var(--titulo_naranja);
}

:global(.carousel-control-next-icon) {
    background-image: none;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l5 5a.5.5 0 0 1 0 .708l-5 5a.5.5 0 0 1-.708-.708L9.293 7 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E") center/contain no-repeat;
    background: var(--titulo_naranja);
}

.contenedor_img_prev {
    position: relative;
    width: 100px;
    height: 100px;

    img {
        object-fit: cover;
    }
}
.contenedor_genero,.contenedor_edad {
    display: flex;
    border: 1px solid var(--naranja);
    border-radius: 25px;
    overflow: hidden;
    width: 180px;
    cursor: pointer;
}

.contenedor_genero label input,
.contenedor_edad label input {
    display: none;
}

.contenedor_genero label,
.contenedor_edad label {
    flex: 1;
    padding: 2px 0;
    text-align: center;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.contenedor_edad {
    width: 150px;
}

.hembra span 
{
    padding: 8px 20px;
    border-radius: 20px;
    transition: 0.2s;
    cursor: pointer;
}

.meses span{
    transition: 0.2s;
}

.hembra input:checked + span {
    background-color: rgb(250, 197, 234);
    color: white;
}
.macho span {
    padding: 8px 20px;
    border-radius: 20px;
    transition: 0.2s;
    cursor: pointer;
}

.macho input:checked + span {
    background-color: rgb(138, 181, 247);
    color: white;
}
.contenedor_edad label {
    background-color: white;
}
.meses input:checked + span {
    padding: 16px;
    background-color: var(--background-transparent);
    color: var(--naranja);
}

.fila_imagen {
  display: flex;
  align-items: center;
  gap: 10px; 
  background-color: antiquewhite;
}

.btn_subir {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-transparent);
  color: var(--naranja);
  height: 100%;
  width: 100%;
  border: 1px solid var(--naranja);
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  font-size: 40px;

}

.btn_subir:hover {
  opacity: 0.8;
}
